[submodule "External/MARS"]
	path = GEAR_CORE/dep/MARS
	url = git@github.com:AndrewRichards-Code/MARS.git
[submodule "External/MIRU"]
	path = External/MIRU
	url = git@github.com:AndrewRichards-Code/MIRU.git
[submodule "External/imgui"]
	path = External/imgui
	url = git@github.com:AndrewRichards-Code/imgui.git
