[submodule "External/MARS"]
	path = External/MARS
	url = git@github.com:AndrewRichards-Code/MARS.git
[submodule "External/MIRU"]
	path = External/MIRU
	url = git@github.com:AndrewRichards-Code/MIRU.git
[submodule "External/imgui"]
	path = External/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "External/ASSIMP"]
	path = External/ASSIMP
	url = git@github.com:assimp/assimp.git
[submodule "External/ImGuizmo"]
	path = External/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
	branch = master
